.wrap{
	width: 100%;
	height: 100%;
	background:#fafafa;
}
.top{
	background:#fff;
	display:block;
}
.loading{
	position:fixed;
	left: 0;
	top: 49px;
	bottom: 0;
	right: 0px;
    z-index: 100;
    font-size:33px;
    color:rgb(3,145,230);
    // line-height:100%;
    // text-align:center;
}
.loading i{
	position:absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,0);
}
.top{
	height: 48px;
	padding: 0 15px;
	line-height: 48px;
	position:relative;
	border-bottom:1px solid #ddd;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
.index{
	font-size: 13px;
    line-height: 48px;
    color: #777;
    float: left;
    height: 100%;
}
.index span{
	display:block;
	float:left;
	height: 100%;
	width: 14px;
	margin-right: 5px;
	background:url(../img/left.png) no-repeat 0px 11px;
}
.tab{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	height: 30px;
    border-radius: 2px;
    border: 1px solid rgb(3,145,230);
}
.tab a{
	display:block;
	float:left;
	line-height:30px;
	text-align: center;
	width: 70px;
    height: 30px;  
    color: rgb(3,145,230);
    border-radius: 1px;
}
.tab .active{
	background-color: rgb(3,145,230);
    color: #fff;
}
.exit{
	line-height:48px;
	font-size: 13px;
    color: #777;
    width: 40px;
    float:right;
    margin-right: 15px;
}
/*content*/
.content{
	background-color: #fafafa;
}
.content .menu{
	height: 46px;
	line-height:46px;
	width: 100%;
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
}
.content .menu a{
	width:25%;
	color:#000;
	text-align:center;
	float:left;
	background:#fff;
}
.content .menu .on{
	border-bottom: 2px solid rgb(3,145,230);
    color: rgb(3,145,230);
}
.content .list{
	overflow:auto;
}
.content .list li{
	padding:0 15px;
	background:#fff;
	margin-bottom: 20px;
}
.content .list li .title{
	margin-top: 2px;
	display:block;
	height: 45px;
	line-height:45px;
	color:#000;
	font-weight: 600;
	font-size:15px;
	text-align:left;
	position:relative;
}
.content .list li .theatre{
	display:block;
	float:left;
	margin-right:5px;
}
.content .list li .go{
	display:block;
	float:left;
	height: 14px;
	width: 14px;
	background:url(../img/go.png);
	margin-top:16px;
	
}
.content .list li .main{
	height: 80px;
	width:100%;
	overflow: hidden;
	position:relative;
	background-color: #fafafa;
	display:block;
}
.content .list li .main .img{
	height: 80px;
	min-width: 80px;
	float:left;
	position:relative;
}
.status{
	display: inline-block;
    padding: 0 9px;
    height: 22px;
    line-height: 22px;
    background-color: #c39c6d;
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
}
.content .list li .main img{
	height: 80px;
	width: 80px;
	float:left;
}
.content .list li .main .con{
	// float:left;
	position:absolute;
	left: 80px;
	top: 0;
	background-color: #fafafa;
	height: 100%;
	color:#000;
}
.content .list li .main .con p{
	line-height:40px;
	color:#000;
	padding-left: 10px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.content .list li .bottom{
	height: 45px;
	line-height: 45px;
}
.content .list li .bottom .type{
	float:left;
	font-size: 13px;
    color: #999;
}
.content .list li .bottom .btn{
	float:right;
	
}
.content .list li .bottom .btn a{
	display: inline-block;
    height: 27px;
    width: 62px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    line-height: 27px;
    margin-left: 13px;
    border: 1px solid #bbb;
    color: #555;
}
/*Voucher*/
.Voucher,.menucontent{
	position:absolute;
	width: 100%;
	height: 100%;
	background:#fafafa;
}
.VoucherMain,.menuMain{
	position:absolute;
	text-align:center;
	left: 50%;
	top: 100px;
	transform:translate(-50%,0);
	height: 200px;
	width: 200px;
	background: url(../img/quan.png) no-repeat;	
}
.menuMain{
	background:url(../img/piao.png) no-repeat;
}
.Voucher p,.menuMain p{
	margin-top:200px;
	padding-left:15px;	
	font-size: 16px;
    color: #777;
    line-height: 16px;
    text-align: center;
    margin: 16px 0 12px;
}
