
<div class="data-ui-view">
	<div class="content">
		<div class="menu">
			<a class="on" ng-click="event.menu($event)">全部订单</a>
			<a  ng-click="event.menu($event)">待付款</a>
			<a  ng-click="event.menu($event)">可使用</a>
			<a ng-click="event.menu($event)">退款/售后</a>
			<!-- <a data-ui-sref="menu" class="on" ng-click="event.menu($event)">全部订单</a>
			<a  data-ui-sref="menu" ng-click="event.menu($event)">待付款</a>
			<a  data-ui-sref="menu" ng-click="event.menu($event)">可使用</a>
			<a data-ui-sref="menu" ng-click="event.menu($event)">退款/售后</a> -->
		</div>
		<!-- <div data-ui-view=""> -->
			<div class="order">
				<list></list>
			</div>
		<!-- </div> -->
	</div>
</div>