<ul class="list">
	<li ng-repeat="msg in show">
		<a href="" class="title"><span class="theatre" ng-bind="show[$index].theatre"></span><span class="go"></span></a>
		
		<a href="" class="main clear">
			<div class="img">
				<span class="status" ng-bind="show[$index].status"></span>
				<img src="img/movie.jpg" alt="">
			</div>
			
			<div class="con">
				<p ng-bind="show[$index].name"></p>
				<p>
					<span ng-bind="show[$index].number">2</span>张|<span ng-bind="show[$index].time"></span>
				</p>
				
			</div>
		</a>
		<div class="bottom">
			<div class="type" ng-bind="show[$index].type"></div>
			<div class="btn">
				<a class="more" href="">更多</a>
				<a class="detail" href="">查看订单</a>
			</div>
		</div>
	</li>
	<li ng-repeat="msg in show">
		<a href="" class="title"><span class="theatre" ng-bind="show[$index].theatre"></span><span class="go"></span></a>
		
		<a href="" class="main clear">
			<div class="img">
				<span class="status" ng-bind="show[$index].status"></span>
				<img src="img/movie.jpg" alt="">
			</div>
			
			<div class="con">
				<p ng-bind="show[$index].name"></p>
				<p>
					<span ng-bind="show[$index].number">2</span>张|<span ng-bind="show[$index].time"></span>
				</p>
				
			</div>
		</a>
		<div class="bottom">
			<div class="type" ng-bind="show[$index].type"></div>
			<div class="btn">
				<a class="more" href="">更多</a>
				<a class="detail" href="">查看订单</a>
			</div>
		</div>
	</li>
	<li ng-repeat="msg in show">
		<a href="" class="title"><span class="theatre" ng-bind="show[$index].theatre"></span><span class="go"></span></a>
		
		<a href="" class="main clear">
			<div class="img">
				<span class="status" ng-bind="show[$index].status"></span>
				<img src="img/movie.jpg" alt="">
			</div>
			
			<div class="con">
				<p ng-bind="show[$index].name"></p>
				<p>
					<span ng-bind="show[$index].number">2</span>张|<span ng-bind="show[$index].time"></span>
				</p>
				
			</div>
		</a>
		<div class="bottom">
			<div class="type" ng-bind="show[$index].type"></div>
			<div class="btn">
				<a class="more" href="">更多</a>
				<a class="detail" href="">查看订单</a>
			</div>
		</div>
	</li>
	<li ng-repeat="msg in show">
		<a href="" class="title"><span class="theatre" ng-bind="show[$index].theatre"></span><span class="go"></span></a>
		
		<a href="" class="main clear">
			<div class="img">
				<span class="status" ng-bind="show[$index].status"></span>
				<img src="img/movie.jpg" alt="">
			</div>
			
			<div class="con">
				<p ng-bind="show[$index].name"></p>
				<p>
					<span ng-bind="show[$index].number">2</span>张|<span ng-bind="show[$index].time"></span>
				</p>
				
			</div>
		</a>
		<div class="bottom">
			<div class="type" ng-bind="show[$index].type"></div>
			<div class="btn">
				<a class="more" href="">更多</a>
				<a class="detail" href="">查看订单</a>
			</div>
		</div>
	</li>
	<li ng-repeat="msg in show">
		<a href="" class="title"><span class="theatre" ng-bind="show[$index].theatre"></span><span class="go"></span></a>
		
		<a href="" class="main clear">
			<div class="img">
				<span class="status" ng-bind="show[$index].status"></span>
				<img src="img/movie.jpg" alt="">
			</div>
			
			<div class="con">
				<p ng-bind="show[$index].name"></p>
				<p>
					<span ng-bind="show[$index].number">2</span>张|<span ng-bind="show[$index].time"></span>
				</p>
				
			</div>
		</a>
		<div class="bottom">
			<div class="type" ng-bind="show[$index].type"></div>
			<div class="btn">
				<a class="more" href="">更多</a>
				<a class="detail" href="">查看订单</a>
			</div>
		</div>
	</li>
	<li ng-repeat="msg in show">
		<a href="" class="title"><span class="theatre" ng-bind="show[$index].theatre"></span><span class="go"></span></a>
		
		<a href="" class="main clear">
			<div class="img">
				<span class="status" ng-bind="show[$index].status"></span>
				<img src="img/movie.jpg" alt="">
			</div>
			
			<div class="con">
				<p ng-bind="show[$index].name"></p>
				<p>
					<span ng-bind="show[$index].number">2</span>张|<span ng-bind="show[$index].time"></span>
				</p>
				
			</div>
		</a>
		<div class="bottom">
			<div class="type" ng-bind="show[$index].type"></div>
			<div class="btn">
				<a class="more" href="">更多</a>
				<a class="detail" href="">查看订单</a>
			</div>
		</div>
	</li>
	<li ng-repeat="msg in show">
		<a href="" class="title"><span class="theatre" ng-bind="show[$index].theatre"></span><span class="go"></span></a>
		
		<a href="" class="main clear">
			<div class="img">
				<span class="status" ng-bind="show[$index].status"></span>
				<img src="img/movie.jpg" alt="">
			</div>
			
			<div class="con">
				<p ng-bind="show[$index].name"></p>
				<p>
					<span ng-bind="show[$index].number">2</span>张|<span ng-bind="show[$index].time"></span>
				</p>
				
			</div>
		</a>
		<div class="bottom">
			<div class="type" ng-bind="show[$index].type"></div>
			<div class="btn">
				<a class="more" href="">更多</a>
				<a class="detail" href="">查看订单</a>
			</div>
		</div>
	</li>
</ul>