<div class="swiper-container">
    <div class="swiper-wrapper">
    	<!--遍历部分-->
        <div class="swiper-slide">
        	<div class="page">
        		<!--http://172.17.98.1:8080/index/theatreList.html-->
        			<a href="../theatreList/theatreList.html" class="item" ng-repeat="list1 in nav1">
        				<img class="icon" ng-src="{{list1.navImg}}" alt="#" />
        				<div ng-bind="list1.navName">猫眼电影</div>
        			</a>
        	</div>
        </div>
        <div class="swiper-slide">
        	<div class="page">
        			<a href="http://10.3.135.74:8080/index/theatreList.html?theatreList={{list2.navId}}" class="item" ng-repeat="list2 in nav2">
        				<img class="icon" ng-src="{{list2.navImg}}" alt="#" />
        				<div ng-bind="list2.navName">猫眼电影</div>
        			</a>
        	</div>
        </div>
        <div class="swiper-slide">
        	<div class="page">
        			<a href="http://10.3.135.74:8080/index/theatreList.html?theatreList={{list3.navId}}" class="item" ng-repeat="list3 in nav3">
        				<img class="icon" ng-src="{{list3.navImg}}" alt="#" />
        				<div ng-bind="list3.navName">猫眼电影</div>
        			</a>
        	</div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>